h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 320px;
  margin: 0 auto;
  background-color: #282829;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #282829;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.header__logo--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 20px;
  height: 20px;
  background: #e74214;
}

.header__logo--text {
  width: 12px;
  height: 20px;
  color: white;
  margin-left: 4px;
}

.header__logo--telefon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 20px;
  color: white;
  font-size: 12px;
  font-family: "Rubik", serif;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.12px;
  word-wrap: break-word;
}

.header__line {
  height: 0px;
  border: #e3e2e2 solid 1px;
}

.visualization {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #282829;
}

.visualization__title {
  text-align: center;
  color: white;
  font-size: 41px;
  font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
  word-wrap: break-word;
  margin-top: 30px;
}

.visualization__content {
  width: 264px;
  text-align: center;
  color: white;
  font-size: 13px;
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
  margin-top: 30px;
}

.visualization__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visualization__button {
  width: 280px;
  height: 50px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 6px;
  border: 1px #F5F5F5 solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: rgba(28, 28, 28, 0);
  margin-bottom: 37px;
  cursor: pointer;
}
.visualization__button:hover, .visualization__button:focus {
  background-color: #E74214;
  border: 1px #E74214 solid;
}

.visualization__button--text {
  color: white;
  font-size: 13px;
  font-family: "Roboto", serif;
  font-weight: 400;
  word-wrap: break-word;
}

.visualization__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.slider {
  width: 280px;
  height: 210px;
  border-radius: 6px;
  margin-top: 20px;
}

.frame {
  width: 50px;
  height: 210px;
  background: #1a1a1a;
  left: -2px;
  top: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 6px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 13px;
  font-family: "Roboto", serif;
  font-weight: 400;
  word-wrap: break-word;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services {
  padding: 0;
  margin: 0;
}

.services__list {
  width: 280px;
  height: 70px;
  background: #1a1a1a;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}
.services__list:not(:last-child) {
  margin-bottom: 10px;
}

.services__list--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 160px;
  color: #efefef;
  font-size: 13px;
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
}

.services__list--image {
  margin-right: 12px;
}

.discount {
  padding: 0px 10px;
  margin-top: 40px;
}

.discount__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-family: "Oswald", serif;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
  padding: 20px 0px;
}

.discount__list--text-first {
  color: #ea4c14;
  margin-bottom: 7px;
}

.discount__list--text-second {
  color: white;
}

.discount__line {
  height: 0px;
  border: 1px #e2e1e1 solid;
}

.sales {
  background: #171719;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0px;
}

.sales__text {
  width: 280px;
  text-align: center;
  color: white;
  font-size: 28px;
  font-family: "Oswald", serif;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.28px;
  word-wrap: break-word;
  margin-top: 30px;
}

.development--title {
  color: #EFEFEF;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Oswald", serif;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  word-wrap: break-word;
  margin-bottom: 18px;
  margin-top: 18px;
  text-align: center;
}

.development__arrow {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.development__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 261px;
  color: #EFEFEF;
  fill: white;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 21px;
  word-wrap: break-word;
  margin-bottom: 14px;
}
.development__content:hover, .development__content:focus {
  color: #E74214;
  fill: #E74214;
}
.development__content:active {
  color: #E74214;
  fill: #E74214;
}

.development__button {
  width: 280px;
  height: 50px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 6px;
  border: 1px #F5F5F5 solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: rgba(28, 28, 28, 0);
  margin-bottom: 37px;
  cursor: pointer;
}
.development__button:hover, .development__button:focus {
  background-color: #E74214;
  border: 1px #E74214 solid;
}

.development__button--text {
  color: white;
  font-size: 13px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.development__line {
  height: 0px;
  border: 1px #e2e1e1 solid;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */