.discount {
  padding: 0px 10px;
  margin-top: 40px;
}

.discount__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-family: "Oswald", serif;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
  padding: 20px 0px;
}

.discount__list--text-first {
  color: #ea4c14;
  margin-bottom: 7px;
}

.discount__list--text-second {
  color: white;
}

.discount__line {
  height: 0px;
  border: 1px #e2e1e1 solid;
}
