.visualization {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #282829;
}
  .visualization__title {
    text-align: center;
    color: white;
    font-size: 41px;
    font-family: "Oswald", serif;
    font-weight: 400;
    font-style: normal;
    word-wrap: break-word;
    margin-top: 30px;
  }

  .visualization__content {
    width: 264px;
    text-align: center;
    color: white;
    font-size: 13px;
    font-family: "Roboto", serif;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
    margin-top: 30px;
  }

  .visualization__item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;
  }


.visualization__button {
  width: 280px;
  height: 50px;
  padding-left: 35px;
  padding-right: 35px;
  background: #ea4c14;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.visualization__button--text {
  color: white;
  font-size: 13px;
  font-family: "Roboto", serif;
  font-weight: 400;
  word-wrap: break-word;
}

.visualization__slider {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.slider {
  width: 280px;
  height: 210px;
  border-radius: 6px;
  margin-top: 20px;
}

.frame {
  width: 50px;
  height: 210px;
  background: #1a1a1a;
  left: 18px;
  top: 40px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 6px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__text {
  display: flex;
  color: white;
  font-size: 13px;
  font-family: "Roboto", serif;
  font-weight: 400;
  word-wrap: break-word;
  writing-mode: tb-rl;
  transform: rotate(180deg);
}
